.html-1{
    background-image:url(../../../image/1735881548790.png);
    background-size:800px 800px;
    background-repeat: no-repeat;
    background-position:-160px -100px;
}  
.html-2{
    background-image:url(../../../image/1735881548790.png);
    background-size:800px 800px;
    background-repeat: no-repeat;
    background-position:-160px -100px;
}  
.html-3{
    background-image:url(../../../image/1735881548790.png);
    background-size:800px 800px;
    background-repeat: no-repeat;
    background-position:-160px -100px;
}
.html-4{
    background-image:url(../../../image/1735881548790.png);
    background-size:800px 800px;
    background-repeat: no-repeat;
    background-position:-160px -100px;
}  
.html-5{
    background-image:url(../../../image/1735881548790.png);
    background-size:800px 800px;
    background-repeat: no-repeat;
    background-position:-160px -100px;
}
.html-6{
    background-image:url(../../../image/1735881548790.png);
    background-size:800px 800px;
    background-repeat: no-repeat;
    background-position:-160px -100px;
}
.html-7{
    background-image:url(../../../image/1735881548790.png);
    background-size:800px 800px;
    background-repeat: no-repeat;
    background-position:-160px -100px;
}
.html-8{
    background-image:url(../../../image/1735881548790.png);
    background-size:800px 800px;
    background-repeat: no-repeat;
    background-position:-160px -100px;
}
