.main-1{
    background-image:url(../../../image/1735881548790.png);
    background-size:800px 800px;
    background-repeat: no-repeat;
    background-position:-160px -100px;
}  
.main-2{
    background-image:url(../../../image/1736583859533.png);
    background-size:710px 710px;
    background-repeat: no-repeat;
    background-position:-112px -80px;
}  
.main-3{
    background-image:url(../../../image/1735881548790.png);
    background-size:800px 800px;
    background-repeat: no-repeat;
    background-position:-160px -100px;
}  